:root {
  font-size: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.site {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 65ch;
}

.site-title {
  font-size: 2em;
  font-weight: bold;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0 -0.5em;
  padding: 0;
}

.navigation a {
  display: inline-block;
  padding: 0.5em;
}

.posts {
  padding-inline-start: 1em;
  padding-inline-end: 1em;
}

.post__meta {
  color: gray;
  font-style: italic;
}

.blockquote {
  border-left: 0.25em solid gray;
  color: gray;
  font-size: 1.125em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 1em;
  padding-inline-end: 1em;
}

.blockquote p:first-of-type::before,
.blockquote p:last-of-type::after {
  content: '"';
}